source/
work/
tools/
logs/
__pycache__/
*.pyc

pcsx2/*

pcsx2_files/*
!pcsx2_files/cheats/
!pcsx2_files/cheats/**
!pcsx2_files/game_settings/
!pcsx2_files/game_settings/**
!pcsx2_files/input_profiles/
!pcsx2_files/input_profiles/**
!pcsx2_files/input_recordings/
!pcsx2_files/input_recordings/**
pcsx2_files/input_recordings/__generated/

SLOP-NA228.ini
!pcsx2_files/game_settings/SLOP-NA228.ini
