source/
work/
tools/
logs/
__pycache__/
*.pyc

pcsx2/*

pcsx2_shared/*
!pcsx2_shared/cheats/
!pcsx2_shared/cheats/**
!pcsx2_shared/game_settings/
!pcsx2_shared/game_settings/**
!pcsx2_shared/input_profiles/
!pcsx2_shared/input_profiles/**
!pcsx2_shared/input_recordings/
!pcsx2_shared/input_recordings/**

SLOP-NA228.ini
